.ser {
    margin: 0;
	font-family: 'Roboto', sans-serif;
	
	font-size: 29px;
	color:#bb6035 ;
   font-family: 'Bonheur Royale', cursive;
   text-align: center;
    
    
}
body {
background-image: url(%D1%88.jpg);

    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;  
}
.header {
	width: 100%;
	height: 80px;
	padding-top: 6px;
	padding-bottom: 6px;

	background-color: rgba(202, 43, 3, 0.85);
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
    
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 75%;
	height: 100%;
	margin: 0 auto;
	padding-top: 3px;
}
.logo {
	display: flex;
	align-items: center;
}
.logo__img {	
	width: 52px;
	height: auto;
	margin-right: 15px;
}

.logo__text {
 	color: #fff;
 	text-decoration: none;
 	font-size: 30px;
}

/* Logo */

.logo_img {
	width: 100%;
	max-width: 52px;
	height: auto;
    margin-right: 15px;
    margin-left: 30px;
}

.logo_text {
 	color: #fff;
 	text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    
}

.nav__link {
	position: relative;

	text-decoration: none;
	color: #fff;

	transition: color .2s linear;
    margin-left: 19px;
}

.nav__link:after {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	margin-top: 2px;

	background-color: #fff;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	-webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.nav__link:hover:after {
	width: 100%;
}

.ttt {
    padding-top: 15px;
    font-size: 25px;
	color:#411a0e ;
    font-family: 'Roboto', sans-serif;
   text-align: center;
}

.ttt_t {
    padding-top: 15px;
    font-size: 35px;
	color:#ffffff ;
    font-family: 'Roboto', sans-serif;
   text-align: center;
      font-family: 'Bonheur Royale', cursive;
    background-image: url(fon.jpg);
    margin-right: 50px;
}
.er{
    align-content: center;
    margin-right:60px;
}


